<div class="conteiner-landing-page">
    <div class="content-landing-page__nav">
    <div class="logo">
        <p>Don Arturo</p>
      </div>
      <div class="menu">
        <a href="home">Inicio</a>
        <a href="#">Productos</a>
        <a href="sales">Venta</a>
        <link rel="stylesheet" href="css/sales.component.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      </div>
    </div>













<!-- <body>
    <link rel="stylesheet" href="css/sales.component.css">
    <div class="container">
        <div class="left-panel">
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <div class="card-container">
                <div class="card">Card Title</div>
                <div class="card">Card Title</div>
                <div class="card">Card Title</div>
                <div class="card">Card Title</div>
                <div class="card">Card Title</div>
                <div class="card">Card Title</div>
            </div>
        </div>
        <div class="right-panel">
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Productos</th>
                        <th>Q.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Producto 1</td>
                        <td>Q. 00.00</td>
                        <td><button class="delete-btn">X</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="footer">
                <div class="total">
                    <span>Q. 00.00</span>
                </div>
                <button class="cf-btn">c/f</button>
                <button class="sell-btn">Vender</button>
            </div>
        </div>
    </div>

</body> -->
</div>
